In [1]:
# Import Pyspark
from pyspark.sql import SparkSession

In [2]:
# Create a Spark session
spark = SparkSession.builder.appName("Spark Demo").getOrCreate()

25/05/26 16:07:06 WARN Utils: Your hostname, Henriques-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.12 instead (on interface en0)
25/05/26 16:07:06 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/26 16:07:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# Create the Sample Data
data = [
    ("John", 25, "Developer"),
    ("Alice", 28, "Designer"),
    ("Mary", 30, "Engineer"),
    ("Peter", 35, "Manager")
]

columns = ["name", "age", "position"]

In [4]:
data

[('John', 25, 'Developer'),
 ('Alice', 28, 'Designer'),
 ('Mary', 30, 'Engineer'),
 ('Peter', 35, 'Manager')]

In [5]:
# Create a Spark Dataframe
df = spark.createDataFrame(data, schema=columns)

In [6]:
# Print Dataframe
df.show()

+-----+---+---------+
| name|age| position|
+-----+---+---------+
| John| 25|Developer|
|Alice| 28| Designer|
| Mary| 30| Engineer|
|Peter| 35|  Manager|
+-----+---+---------+

In [10]:
# Write Output in parquet format
df.write.parquet("../data/output/employee/")

In [11]:
# Closed the Spark session
spark.stop()